@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


body{
    width: 100vw; 
    height: 100vh; 
    font-family: 'PT Sans Narrow', sans-serif;; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: 0 auto; 
    background-image: url('https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg');  
    background-repeat: no-repeat; 
    background-size: cover; 
    color: white; 
}

.container{
    margin: 0 auto; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    width: 100vw;
    height: auto;  
    overflow-x: scroll; 
    white-space: wrap;
    background-color: transparent; 
}

.movieCard{
    width: 200px; 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    margin: 0 3px; 
    background-image: linear-gradient(45deg, rgb(23, 22, 22), black);  
    margin-bottom: 20px; 
    border-radius: 2px; 
    box-shadow: 0px 5px 5px black; 
}
.movieCard:hover{
    opacity: 1; 
    background-color: rgb(16, 14, 14); 
}

img{
    width: 180px; 
    height: 240px; 
    object-fit: contain; 
    margin: 0 auto; 
    padding: 10px; 
}

p{
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
    padding: 10px 0px; 
    text-align: center; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0px 5px 5px black; 
}
h1{
    font-size: 60px; 
    font-weight: bolder; 
    width: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    color: white(216, 13, 13); 
    text-shadow: 4px 4px 1px black; 
    background-image: linear-gradient(red, rgb(198, 12, 12)); 
    position: absolute; 
    top: 0; 
    left: 0; 
}

form{
    padding: 50px 0px 100px; 
    margin: 0 auto; 
    letter-spacing: 2px; 
}
.search{
    width: 200px; 
    height: 30px; 
    border-radius: 5px; 
    text-align: center; 
    border-style: none; 
    box-shadow: 0px 5px 5px black; 
}
button{
    border-style: none; 
    height: 30px; 
    width: 100px; 
    border-radius: 5px; 
    box-shadow: 0px 5px 5px black;     
}
.searchButton{
    background-image: linear-gradient(45deg, rgb(216, 15, 15), rgb(255, 0, 0)); 
    font-weight: bold; 
}
.resetButton{
    background-color: black; 
    background-image: linear-gradient(45deg, rgb(21, 20, 20), black); 
    font-weight: bold; 
    color: white; 
}
